@using Trees.Models
@{
    @model Damage
}
<div>
    Insect: @Model.Insect<br/>
    Snow: @Model.Snow<br/>
    Wind: @Model.Wind<br/>
    Fire: @Model.Fire<br/>
    Harvesting: @Model.Harvesting
</div>
