@using Trees.Models
@using Trees.Models.Stateful
@{
    @model Table
}
@if (Model==null) 
{
    <h2>Trees</h2>
    <p>Would you like to play a game?</p>
    <div><a href="@Url.Action("NewGame","Game")" class="btn btn-default">New Game</a></div>
} 
else 
{
    <h2>Game in Progress</h2>
    <h3>Players</h3>
    <div class="row">
        @Html.Partial("Players", Model)
        @Html.Partial("Turn", Model)
    </div>
    <h3>Groves</h3>
    @Html.Partial("Groves", Model.Groves)

    <h3>Decks</h3>
    <div class="row">
        @Html.Partial("TreeDeck", Model.TreeDeck)
        @Html.Partial("LandDeck", Model.LandDeck)
        @Html.Partial("EventDeck", Model.EventDeck)
    </div>

}