@using System.Collections.Generic
@using Trees.Models
@using Trees.Models.Stateful
@{
    @model Table
}
@foreach (var player in Model.Players)
{
    <div class="col-md-4">
        <div class="panel panel-default">
            @{
                var headingClass = "";
                if (player == Model.GetCurrentPlayer()) { headingClass = "current-player"; }
            }
            <div class="@headingClass panel-heading">Player: <strong>@player.Name</strong></div>
            <div class="panel-body">
                <p>Score: @player.Score</p>
                <p><strong>Top Card</strong></p>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Name / Genus</td>
                            <td>Habitat</td>
                            <td>Damage</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (player.Hand.Count > 0) {
                            int t = 0;
                            Tree tree = player.Hand.Peek();
                            <tr>
                                <td>
                                    @tree.Name 
                                    <br/>
                                    @tree.Genus
                                </td>
                                <td>@Html.Partial("Habitat", @tree.Habitat)</td>
                                <td>@Html.Partial("Damage", @tree.Damage)</td> 
                            </tr>
                        }
                    </tbody>
                </table>
                @{ var remaining = player.Hand.Count - 1; }
                <p>Remaining cards: @remaining</p>
            </div>
        </div>    
    </div>
}
